/*
|--------------------------------------------------------------------------
| Breakpoints
|--------------------------------------------------------------------------
*/

$bp-start: 300px;
$bp-small: 480px;
$bp-medium: 767px;
$bp-large: 1023px;
$bp-xlarge: 1279px;
$bp-full: 1599px;